@use '../abstracts/fonts';
@use '../abstracts/colors';
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');

html {
  font-family: 'Syne', sans-serif;
  color: colors.$p-color;
}

h1 {
  font-size: fonts.$main-title;
  font-weight: 500;

  .subtitulo {
    font-size: fonts.$subtitle;
    font-weight: 400;
  }
  .accent {
    color: colors.$accent-color;
  }
}

h2 {
  font-size: fonts.$title;
  font-weight: 700;
  color: colors.$accent-color;
  text-transform: capitalize;
}
h4 {
  font-size: fonts.$subtitle;
  font-weight: 700;
}
p {
  font-size: fonts.$p;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: colors.$p-color;
  font-size: 1.5rem;
}
.nav {
  a {
    font-size: fonts.$text-button;
    font-weight: 400;
  }
}
.main {
  button {
    color: colors.$p-color;
  }
  .text-button {
    font-size: fonts.$text-button;
  }
}

// Iconos fontawesome
i {
  font-size: fonts.$icon-m;
}
button i {
  font-size: fonts.$icon-s;
}
nav > i {
  font-size: 3rem;
}
.tecnologies-wrapper {
  i {
    font-size: fonts.$icon-l;
  }
}
