@use '../abstracts/fonts' as *;
@use '../abstracts/colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');

html {
  font-family: 'Syne', sans-serif;
  color: $p-color;
}

h1 {
  font-size: $main-title;
  font-weight: 500;

  .subtitulo {
    font-size: $subtitle;
    font-weight: 400;
  }
  .accent {
    color: $accent-color;
  }
}

h2 {
  font-size: $title;
  font-weight: 700;
  color: $accent-color;
  text-transform: capitalize;
}
h4 {
  font-size: $subtitle;
  font-weight: 700;
}
p {
  font-size: $p;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: $p-color;
  font-size: 1.5rem;
}
.nav {
  a {
    font-size: $text-button;
    font-weight: 400;
  }
}
.main {
  button {
    color: $p-color;
  }
  .text-button {
    font-size: $text-button;
  }
}

// Iconos fontawesome
i {
  font-size: $icon-m;
}
button i {
  font-size: $icon-s;
}
nav > i {
  font-size: 3rem;
}
.tecnologies-wrapper {
  i {
    font-size: $icon-l;
  }
}
.subrayado {
  color: $accent-color;
}
