@use '../abstracts/breakpoints';

// Mobile first
.nav {
  display: flex;
  justify-content: flex-end;
  padding: 1.25rem;

  &__wrapper {
    display: none;
  }
}

@media (min-width: breakpoints.$breakpoint-md) {
  .nav {
    justify-content: center;
    &__icon {
      display: none;
    }

    &__wrapper {
      display: flex;
      padding: 1.5rem 0;
      gap: 4.5rem;
    }
  }
}
